name: Tests
on: [push]
jobs:
  test:
    name: Automated Tests
    runs-on: ubuntu
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6.x
      - run: bundle
      - run: rspec
